<div class="px-3">
    <div class="p-5">
        <form [formGroup]="editarForm">
            <div class="row g-3 d-flex justify-content-between align-items-end flex-wrap">
                <div class="p-0 m-0 col-6 py-3">
                    <label for="nomeConvidado" class="visually-hidden">Nome do convidado</label>
                    <input type="text" class="form-control" id="nomeConvidado" formControlName="nomeConvidado" placeholder="Reginaldo Pereira">
                </div>
                <div class="p-0 m-0 col-5 py-3">
                    <label for="emailConvidado" class="visually-hidden">Email</label>
                    <input type="email" class="form-control" id="emailConvidado" formControlName="emailConvidado" placeholder="Email">
                </div>
                <div class="p-0 m-0 col-4 py-3">
                    <label for="telefoneConvidado" class="visually-hidden">Telefone</label>
                    <input type="text" class="form-control" id="telefoneConvidado" formControlName="telefoneConvidado" placeholder="Telefone">
                </div>
                <div class="p-0 m-0 col-2 py-3">
                    <label for="tipoConvidado" class="visually-hidden">Tipo de Convidado</label>
                    <select class="p-0 m-0 form-select form-control" id="tipoConvidado" formControlName="tipo" aria-label="Selecione o tipo de convidado">
                        <option *ngFor="let type of typeGuests" [value]="type.typeId">{{ type.typeDescription }}</option>
                    </select>
                </div>
                <div class="p-0 m-0 col-4 py-3">
                    <label for="presente" class="visually-hidden pr-3">Presente</label>
                    <input class="" id="presente" formControlName="presente" type="checkbox"/>
                </div>
                <div class="p-0 m-0 col-3 pt-3">
                    <button type="submit" class="buttonPadrao buttonVerde" (click)="onSubmit()">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
