<div class="float-right div-convidado shadow px-3 bg-white rounded" [ngClass]="{'collapsed': isCollapsed}">
    <div class="p-5">
        <form [formGroup]="cadastroForm">
            <div class="row g-3 d-flex justify-content-between align-items-end flex-wrap">
                <div class="p-0 m-0 col-6 py-3 pr-5">
                    <label for="nomeConvidado" class="visually-hidden">Nome do convidado</label>
                    <input type="text" class="form-control" id="nomeConvidado" formControlName="nomeConvidado" placeholder="Reginaldo Pereira">
                </div>
                <div class="p-0 m-0 col-5 py-3">
                    <label for="emailConvidado" class="visually-hidden">Email</label>
                    <input type="email" class="form-control" id="emailConvidado" formControlName="emailConvidado" placeholder="Email">
                </div>
                <div class="p-0 m-0 col-4 py-3">
                    <label for="telefoneConvidado" class="visually-hidden">Telefone</label>
                    <input type="text" class="form-control" id="telefoneConvidado" formControlName="telefoneConvidado" placeholder="Telefone">
                </div>
                <div class="p-0 m-0 col-3 py-3 pr-2">
                    <label for="tipoConvidado" class="visually-hidden">Tipo de Convidado</label>
                    <select class="p-0 m-0 form-select form-control" id="tipoConvidado" formControlName="tipo" aria-label="Selecione o tipo de convidado">

                    </select>
                </div>
                <div class="p-0 m-0 col-3 py-3 pr-2">
                    <label for="isPresente" class="visually-hidden pr-3">Confirmar presença com antecedência</label>
                    <input class="" id="isPresente" formControlName="presente" type="checkbox"/>
                </div>
                <div class="p-0 m-0 col-3 py-3 pr-2">
                    <button type="submit" class="buttonPadrao buttonViho mb-3" (click)="onSubmit()">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
