<app-modal-config></app-modal-config>
<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">
        <span *ngIf="!isIcon(item, column); else iconContent">{{ item[column.field] }}</span>
        <ng-template #iconContent>
          <span>
            <i *ngFor="let icon of item[column.field]" [class]="icon.className" class="px-1" (click)="icon.clickAction()"></i>
          </span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
