table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

td i {
  cursor: pointer;
}
 
th {
    background-color: #a52a2a;
    color: white;
}